.column {
    flex: 1 1 0;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    overflow: auto;
}

.column.resize-left .resize-bar,
.column.resize-right .resize-bar {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
    z-index: 5;
}

.column.resize-left .resize-bar {
    left: 0;
}

.column.resize-right .resize-bar {
    right: 0;
}
