.column {
    flex: 1 1 0;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    overflow: auto;
}

.column__resize-handle {
    height: 3px;
    cursor: ns-resize;
    background: transparent;
    transition: background-color 0.2s ease-in-out;
}

.column__resize-handle:hover {
    background: var(--flexui-primary-color-hover);
}

.column__resize-handle:active {
    background: var(--flexui-primary-color-active);
}

.column--resize-left .column__resize-handle,
.column--resize-right .column__resize-handle {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
    z-index: 5;
}

.column--resize-left .column__resize-handle {
    left: 0;
}

.column--resize-right .column__resize-handle {
    right: 0;
}
