.container {
    flex: 1;
    display: flex;
    gap: 0px;
    padding: 3px 0 3px 0px;
    background: var(--color-bg-app);
    overflow: auto;
    width: 100vw;
    height: calc(100vh - 60px); /* 36px (Menu) + 24px (StatusBar) */
}

.container__placeholder {
    height: 60px;
    margin: 0;
    /* Usa os tokens de D&D definidos no theme.css */
    background: var(--color-placeholder-bg);
    border: var(--color-placeholder-border-active);
    border-radius: var(--border-radius-base); /* (Era --flexui-border-radius) */
}

.container__drop-area {
    flex: 0 0 5px;
    border: var(--color-placeholder-border);
    border-radius: var(--border-radius-base); /* (Era --flexui-border-radius) */
    display: flex;
    position: relative;
    overflow: auto;
    transition: background-color 0.2s ease-out;
    transition: border 0.2s ease-out;
}
.container__drop-area--active {
    border: var(--color-placeholder-border-active);
    background: var(--color-placeholder-bg);
}
