.container {
    flex: 1;
    display: flex;
    gap: var(--container-gap);
    padding: var(--container-padding);
    background: var(--color-bg-app);
    overflow: auto;
    width: var(--container-width);
    height: var(--container-height-calc);
}

.container__placeholder {
    height: var(--container-placeholder-height);
    margin: var(--container-placeholder-margin);
    /* Usa os tokens de D&D definidos no theme.css */
    background: var(--color-placeholder-bg);
    border: var(--color-placeholder-border-active);
    border-radius: var(--border-radius-base);
}

.container__drop-area {
    flex: var(--container-drop-area-flex);
    border: var(--color-placeholder-border);
    border-radius: var(--border-radius-base);
    display: flex;
    position: relative;
    overflow: auto;
    transition: background-color 0.2s ease-out;
    transition: border 0.2s ease-out;
}
.container__drop-area--active {
    border: var(--color-placeholder-border-active);
    background: var(--color-placeholder-bg);
}
