.container {
    flex: 1;
    display: flex;
    gap: 0px;
    padding: 3px 0 3px 0px;
    background: var(--flexui-bg-color);
    overflow: auto;
    width: 100vw;
    height: calc(100vh - 36px);
}

.container__placeholder {
    height: 60px;
    margin: 0;
    /* border: 2px dotted var(--flexui-primary-color); */
    background: var(--flexui-primary-color-inactive-opacity);
    border-radius: var(--flexui-border-radius);
}

.container__drop-area {
    flex: 0 0 5px;
    border-radius: var(--flexui-border-radius);
    /* border: 1px dashed #00ffcc33; */
    display: flex;
    position: relative;
    overflow: auto;
}
.container__drop-area--active {
    /* border: 2px dotted var(--flexui-primary-color); */
    background: var(--flexui-primary-color-inactive-opacity);
}
