/* styles/layout/container.css */

.panel-container {
    flex: 1;
    display: flex;
    gap: 0px;
    padding: 3px 0 3px 0px;
    background: #333;
    overflow: auto;
    width: 100vw;
    height: calc(100vh - 36px);
}

.panel-placeholder {
    height: 60px;
    margin: 0;
    border: 2px dashed #00ffccaa;
    background-color: #00ffcc22;
    border-radius: 4px;
}

.column-create-area {
    flex: 0 0 5px;
    border-radius: 3px;
    /* border: 1px dashed #00ffcc33; */
    display: flex;
    position: relative;
    overflow: auto;
}
.column-create-area.active {
    border: 2px dashed #00ffcc;
    background: #00ffcc33;
}
