.panel__content {
    flex-grow: 1;
    padding: 8px;
    font-size: 1em;
    color: var(--flexui-text-color);
    overflow: auto;
    min-height: 20px;
    background: var(--flexui-gray);
}

.panel__content--toolbar {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}
.panel__content--toolbar button {
    background-color: var(--flexui-gray-light);
    color: var(--flexui-text-color);
    border: 1px solid var(--flexui-border-color);
    padding: 4px 8px;
    border-radius: var(--flexui-border-radius);
    cursor: pointer;
    font-size: 0.85em;
}
.panel__content--toolbar button:hover {
    background-color: var(--flexui-primary-color-hover);
    border-color: var(--flexui-primary-color-active);
}
