.menu {
    display: flex;
    background-color: #222;
    border-bottom: 1px solid #222;
    z-index: 100;
}

.menu__item {
    position: relative;
    cursor: pointer;
    color: #ccc;
    font-size: 14px;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__title {
    flex-grow: 1;
}

.menu > .menu__item {
    padding: 6px 12px;
    justify-content: flex-start;
}

.menu__submenu .menu__item {
    padding: 4px 12px;
    justify-content: space-between;
}

.menu__arrow {
    flex-shrink: 0;
    margin-left: 10px;
    font-size: 10px;
    color: #ccc;
    display: none;
}

.menu__submenu .menu__item--has-submenu .menu__arrow {
    display: inline;
}

.menu__item:hover,
.menu__item--open {
    background-color: #00ffcc33;
    color: #fff;
}

.menu__submenu {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    list-style: none;
    min-width: 180px;
    z-index: 2000;
    padding: 4px 0;
}

.menu > .menu__item--open > .menu__submenu {
    display: block;
    top: 100%;
    left: 0;
}

.menu__submenu .menu__item--open > .menu__submenu {
    display: block;
    top: -4px;
    left: 100%;
    border-top-left-radius: 0;
}

