.menu {
    display: flex;
    background-color: var(--color-bg-header);
    /* border-bottom: 1px solid #111; */
    box-shadow: 0 0 5px 0 #00000099;
    z-index: 100;
}

.menu__item {
    position: relative;
    cursor: pointer;
    color: var(--color-text-primary);
    font-size: 1.1em;
    line-height: 1em;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__title {
    flex-grow: 1;
}

.menu > .menu__item {
    padding: 8px 12px 6px 12px;
    justify-content: flex-start;
}

.menu__submenu .menu__item {
    padding: 4px 12px;
    justify-content: space-between;
}

.menu__arrow {
    flex-shrink: 0;
    margin-left: 10px;
    font-size: 0.9em;
    color: var(--color-text-primary);
    display: none;
}

.menu__submenu .menu__item--has-submenu .menu__arrow {
    display: inline;
}

.menu__item:hover,
.menu__item--open {
    background-color: var(--color-accent-primary);
    color: var(--color-text-primary);
}

.menu__submenu {
    display: none;
    position: absolute;
    background-color: var(--color-bg-panel);
    border-radius: var(--flexui-border-radius);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    list-style: none;
    min-width: 180px;
    z-index: 1000;
    padding: 4px 0;
}

.menu > .menu__item--open > .menu__submenu {
    display: block;
    top: 100%;
    left: 0;
}

.menu__submenu .menu__item--open > .menu__submenu {
    display: block;
    top: 5px;
    left: 100%;
    border-top-left-radius: 0;
}
