.panel__content {
    flex-grow: var(--panel-content-flex-grow);
    padding: var(--panel-content-padding);
    font-size: var(--panel-content-font-size-base);
    color: var(--color-text-primary);
    overflow: auto;
    min-height: var(--panel-content-min-height-base);
    background: var(--color-bg-panel-content);
    user-select: auto;
}

.panel__content--toolbar {
    display: flex;
    gap: var(--panel-toolbar-gap);
    flex-wrap: wrap;
}
.panel__content--toolbar button {
    background-color: var(--color-bg-hover);
    color: var(--color-text-primary);
    border: var(--panel-toolbar-button-border);
    padding: var(--panel-toolbar-button-padding);
    border-radius: var(--border-radius-base);
    cursor: pointer;
    font-size: var(--panel-toolbar-button-font-size);
}
.panel__content--toolbar button:hover {
    background-color: var(--color-bg-hover);
    border-color: var(--color-accent-active);
}
