.status-bar {
    height: var(--statusbar-height);
    flex-shrink: var(--statusbar-flex-shrink);

    background-color: var(--color-bg-status-bar);
    color: var(--color-text-secondary);
    font-size: var(--statusbar-font-size);

    box-shadow: 0 0 5px 0 #00000099;
    z-index: 50;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--statusbar-padding);
    line-height: var(--statusbar-line-height);

    user-select: none;

    /* Optimization: Isolate layout recalculations */
    contain: layout style;
}

/* .status-bar__permanent {

} */

.status-bar__temporary {
    color: var(--color-text-primary);
}
