@import 'theme.css';

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-bg-app);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-app);
    text-rendering: optimizeLegibility;
}

.app-wrapper {
    flex: 1; /* O wrapper preenche o espaço do body */
    display: grid;
    grid-template-rows: auto auto 1fr auto auto; /* Menu, T-Toolbar, Main, B-Toolbar, StatusBar */
    grid-template-columns: auto 1fr auto; /* L-Toolbar, Main, R-Toolbar */
    grid-template-areas:
        'menu menu menu'
        'toolbar-top toolbar-top toolbar-top'
        'toolbar-left main toolbar-right'
        'toolbar-bottom toolbar-bottom toolbar-bottom'
        'statusbar statusbar statusbar';
    overflow: hidden; /* O .container (main) fará o scroll interno */
}

/* Atribui os componentes de App.js às áreas de grid */
.menu {
    grid-area: menu;
}
.toolbar-container--top {
    grid-area: toolbar-top;
}
.toolbar-container--left {
    grid-area: toolbar-left;
}
.container {
    grid-area: main;
    /* height e width são controlados pelo grid agora */
    height: 100%;
    width: 100%;
    overflow: auto;
}
.toolbar-container--right {
    grid-area: toolbar-right;
}
.toolbar-container--bottom {
    grid-area: toolbar-bottom;
}
.status-bar {
    grid-area: statusbar;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent-inactive);
    border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-hover);
}
::-webkit-scrollbar-thumb:active {
    background: var(--color-accent-active);
}

::-webkit-scrollbar-track {
    background: var(--color-bg-app);
}

.dragging {
    cursor: grabbing !important;
    user-select: none !important;
}

/* --- Utilitários de Acessibilidade --- */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}
