*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
[role='button'] {
    cursor: revert;
}

ol,
ul,
menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    text-shadow: none;
}

:where(img, svg, video, audio, object, embed, picture) {
    display: block;
    max-width: 100%;
    height: auto;
}
:where(details) {
    initial-letter: revert;
}
:disabled {
    cursor: revert;
}
:where(dialog:modal, :fullscreen) {
    padding: revert;
    border-width: revert;
}

meter,
progress {
    height: revert;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-wrap: balance;
}
