:root {
    --primary-1: #00040d;
    --primary-2: #000717;
    --primary-5: #001128;
    --primary-10: #001c3a;
    --primary-20: #00315f;
    --primary-30: #004786;
    --primary-40: #015faf;
    --primary-50: #3378c9;
    --primary-60: #5292e5;
    --primary-70: #72adff;
    --primary-80: #a5c8ff;
    --primary-90: #d4e3ff;
    --primary-95: #ebf1ff;
    --primary-98: #f9f9ff;
    --primary-99: #fdfcff;
    --secondary-1: #070300;
    --secondary-2: #0d0600;
    --secondary-5: #1a0f00;
    --secondary-10: #271900;
    --secondary-20: #422c00;
    --secondary-30: #5f4100;
    --secondary-40: #7d5700;
    --secondary-50: #9a6f19;
    --secondary-60: #b78932;
    --secondary-70: #d5a34a;
    --secondary-80: #f3be62;
    --secondary-90: #ffdeab;
    --secondary-95: #ffeed9;
    --secondary-98: #fff8f3;
    --secondary-99: #fffbff;
    --tertiary-1: #02001f;
    --tertiary-2: #04002d;
    --tertiary-5: #0b0049;
    --tertiary-10: #140067;
    --tertiary-20: #2a1f80;
    --tertiary-30: #413997;
    --tertiary-40: #5952b0;
    --tertiary-50: #726bcb;
    --tertiary-60: #8c85e7;
    --tertiary-70: #a7a1ff;
    --tertiary-80: #c5c0ff;
    --tertiary-90: #e3dfff;
    --tertiary-95: #f3eeff;
    --tertiary-98: #fcf8ff;
    --tertiary-99: #fffbff;
    --neutral-1: #01040a;
    --neutral-2: #04070f;
    --neutral-5: #0c111a;
    --neutral-10: #171c25;
    --neutral-20: #2b313a;
    --neutral-30: #424751;
    --neutral-40: #595e69;
    --neutral-50: #727782;
    --neutral-60: #8c919c;
    --neutral-70: #a6abb7;
    --neutral-80: #c2c6d3;
    --neutral-90: #dee2ef;
    --neutral-95: #ecf1fd;
    --neutral-98: #f9f9ff;
    --neutral-99: #fdfbff;
    --neutral-variant-1: #04030a;
    --neutral-variant-2: #070610;
    --neutral-variant-5: #11101a;
    --neutral-variant-10: #1c1a25;
    --neutral-variant-20: #312f3a;
    --neutral-variant-30: #474551;
    --neutral-variant-40: #5f5d69;
    --neutral-variant-50: #787582;
    --neutral-variant-60: #928f9c;
    --neutral-variant-70: #ada9b7;
    --neutral-variant-80: #c9c4d3;
    --neutral-variant-90: #e5e0ef;
    --neutral-variant-95: #f3eefe;
    --neutral-variant-98: #fcf8ff;
    --neutral-variant-99: #fffbff;
    --info-1: #00040a;
    --info-2: #000811;
    --info-5: #001220;
    --info-10: #001e30;
    --info-20: #00344f;
    --info-30: #004b71;
    --info-40: #006494;
    --info-50: #2b7db0;
    --info-60: #4c97cc;
    --info-70: #69b2e8;
    --info-80: #8ecdff;
    --info-90: #cbe6ff;
    --info-95: #e6f2ff;
    --info-98: #f6f9ff;
    --info-99: #fcfcff;
    --success-1: #000502;
    --success-2: #000a03;
    --success-5: #001509;
    --success-10: #002110;
    --success-20: #003920;
    --success-30: #005230;
    --success-40: #006d42;
    --success-50: #278758;
    --success-60: #46a270;
    --success-70: #62bd89;
    --success-80: #7dd9a3;
    --success-90: #99f6bd;
    --success-95: #c1ffd5;
    --success-98: #e9ffed;
    --success-99: #f5fff4;
    --warning-1: #080300;
    --warning-2: #0f0600;
    --warning-5: #1c0e00;
    --warning-10: #2a1700;
    --warning-20: #472a00;
    --warning-30: #653e00;
    --warning-40: #83540f;
    --warning-50: #a06d28;
    --warning-60: #bd863f;
    --warning-70: #dba056;
    --warning-80: #f9bb6e;
    --warning-90: #ffddb8;
    --warning-95: #ffeede;
    --warning-98: #fff8f4;
    --warning-99: #fffbff;
    --danger-1: #0f0003;
    --danger-2: #190005;
    --danger-5: #2b000d;
    --danger-10: #3f0017;
    --danger-20: #620b2a;
    --danger-30: #802440;
    --danger-40: #9f3c57;
    --danger-50: #be546f;
    --danger-60: #dd6d88;
    --danger-70: #fd87a2;
    --danger-80: #ffb1c1;
    --danger-90: #ffd9df;
    --danger-95: #ffecee;
    --danger-98: #fff8f7;
    --danger-99: #fffbff;
    --primary-border-light-1: #003362;
    --primary-border-light-2: #003566;
    --primary-border-light-5: #003c72;
    --primary-border-light-10: #004786;
    --primary-border-light-20: #015faf;
    --primary-border-light-30: #3378c9;
    --primary-border-light-40: #5292e5;
    --primary-border-light-50: #72adff;
    --primary-border-light-60: #a5c8ff;
    --primary-border-light-70: #d4e3ff;
    --primary-border-light-80: #ffffff;
    --primary-border-light-90: #ffffff;
    --primary-border-light-95: #ffffff;
    --primary-border-light-98: #ffffff;
    --primary-border-light-99: #ffffff;
    --primary-border-dark-1: #000000;
    --primary-border-dark-2: #000000;
    --primary-border-dark-5: #000000;
    --primary-border-dark-10: #000000;
    --primary-border-dark-20: #000000;
    --primary-border-dark-30: #001c3a;
    --primary-border-dark-40: #00315f;
    --primary-border-dark-50: #004786;
    --primary-border-dark-60: #015faf;
    --primary-border-dark-70: #3378c9;
    --primary-border-dark-80: #5292e5;
    --primary-border-dark-90: #72adff;
    --primary-border-dark-95: #8dbbff;
    --primary-border-dark-98: #9cc3ff;
    --primary-border-dark-99: #a1c6ff;
    --secondary-border-light-1: #452e00;
    --secondary-border-light-2: #483000;
    --secondary-border-light-5: #503700;
    --secondary-border-light-10: #5f4100;
    --secondary-border-light-20: #7d5700;
    --secondary-border-light-30: #9a6f19;
    --secondary-border-light-40: #b78932;
    --secondary-border-light-50: #d5a34a;
    --secondary-border-light-60: #f3be62;
    --secondary-border-light-70: #ffdeab;
    --secondary-border-light-80: #ffffff;
    --secondary-border-light-90: #ffffff;
    --secondary-border-light-95: #ffffff;
    --secondary-border-light-98: #ffffff;
    --secondary-border-light-99: #ffffff;
    --secondary-border-dark-1: #000000;
    --secondary-border-dark-2: #000000;
    --secondary-border-dark-5: #000000;
    --secondary-border-dark-10: #000000;
    --secondary-border-dark-20: #000000;
    --secondary-border-dark-30: #271900;
    --secondary-border-dark-40: #422c00;
    --secondary-border-dark-50: #5f4100;
    --secondary-border-dark-60: #7d5700;
    --secondary-border-dark-70: #9a6f19;
    --secondary-border-dark-80: #b78932;
    --secondary-border-dark-90: #d5a34a;
    --secondary-border-dark-95: #e4b056;
    --secondary-border-dark-98: #edb85d;
    --secondary-border-dark-99: #f0bb5f;
    --tertiary-border-light-1: #2c2182;
    --tertiary-border-light-2: #2e2484;
    --tertiary-border-light-5: #352c8b;
    --tertiary-border-light-10: #413997;
    --tertiary-border-light-20: #5952b0;
    --tertiary-border-light-30: #726bcb;
    --tertiary-border-light-40: #8c85e7;
    --tertiary-border-light-50: #a7a1ff;
    --tertiary-border-light-60: #c5c0ff;
    --tertiary-border-light-70: #e3dfff;
    --tertiary-border-light-80: #ffffff;
    --tertiary-border-light-90: #ffffff;
    --tertiary-border-light-95: #ffffff;
    --tertiary-border-light-98: #ffffff;
    --tertiary-border-light-99: #ffffff;
    --tertiary-border-dark-1: #000000;
    --tertiary-border-dark-2: #000000;
    --tertiary-border-dark-5: #000000;
    --tertiary-border-dark-10: #000000;
    --tertiary-border-dark-20: #000000;
    --tertiary-border-dark-30: #140067;
    --tertiary-border-dark-40: #2a1f80;
    --tertiary-border-dark-50: #413997;
    --tertiary-border-dark-60: #5952b0;
    --tertiary-border-dark-70: #726bcb;
    --tertiary-border-dark-80: #8c85e7;
    --tertiary-border-dark-90: #a7a1ff;
    --tertiary-border-dark-95: #b6b0ff;
    --tertiary-border-dark-98: #bfbaff;
    --tertiary-border-dark-99: #c2bdff;
    --neutral-border-light-1: #2e333c;
    --neutral-border-light-2: #30353e;
    --neutral-border-light-5: #363c45;
    --neutral-border-light-10: #424751;
    --neutral-border-light-20: #595e69;
    --neutral-border-light-30: #727782;
    --neutral-border-light-40: #8c919c;
    --neutral-border-light-50: #a6abb7;
    --neutral-border-light-60: #c2c6d3;
    --neutral-border-light-70: #dee2ef;
    --neutral-border-light-80: #ffffff;
    --neutral-border-light-90: #ffffff;
    --neutral-border-light-95: #ffffff;
    --neutral-border-light-98: #ffffff;
    --neutral-border-light-99: #ffffff;
    --neutral-border-dark-1: #000000;
    --neutral-border-dark-2: #000000;
    --neutral-border-dark-5: #000000;
    --neutral-border-dark-10: #000000;
    --neutral-border-dark-20: #000000;
    --neutral-border-dark-30: #171c25;
    --neutral-border-dark-40: #2b313a;
    --neutral-border-dark-50: #424751;
    --neutral-border-dark-60: #595e69;
    --neutral-border-dark-70: #727782;
    --neutral-border-dark-80: #8c919c;
    --neutral-border-dark-90: #a6abb7;
    --neutral-border-dark-95: #b4b9c5;
    --neutral-border-dark-98: #bcc1cd;
    --neutral-border-dark-99: #bfc4d0;
    --neutral-variant-border-light-1: #33313c;
    --neutral-variant-border-light-2: #35333f;
    --neutral-variant-border-light-5: #3c3a45;
    --neutral-variant-border-light-10: #474551;
    --neutral-variant-border-light-20: #5f5d69;
    --neutral-variant-border-light-30: #787582;
    --neutral-variant-border-light-40: #928f9c;
    --neutral-variant-border-light-50: #ada9b7;
    --neutral-variant-border-light-60: #c9c4d3;
    --neutral-variant-border-light-70: #e5e0ef;
    --neutral-variant-border-light-80: #ffffff;
    --neutral-variant-border-light-90: #ffffff;
    --neutral-variant-border-light-95: #ffffff;
    --neutral-variant-border-light-98: #ffffff;
    --neutral-variant-border-light-99: #ffffff;
    --neutral-variant-border-dark-1: #000000;
    --neutral-variant-border-dark-2: #000000;
    --neutral-variant-border-dark-5: #000000;
    --neutral-variant-border-dark-10: #000000;
    --neutral-variant-border-dark-20: #000000;
    --neutral-variant-border-dark-30: #1c1a25;
    --neutral-variant-border-dark-40: #312f3a;
    --neutral-variant-border-dark-50: #474551;
    --neutral-variant-border-dark-60: #5f5d69;
    --neutral-variant-border-dark-70: #787582;
    --neutral-variant-border-dark-80: #928f9c;
    --neutral-variant-border-dark-90: #ada9b7;
    --neutral-variant-border-dark-95: #bbb7c5;
    --neutral-variant-border-dark-98: #c3bfcd;
    --neutral-variant-border-dark-99: #c6c2d0;
    --info-border-light-1: #003652;
    --info-border-light-2: #003856;
    --info-border-light-5: #003f60;
    --info-border-light-10: #004b71;
    --info-border-light-20: #006494;
    --info-border-light-30: #2b7db0;
    --info-border-light-40: #4c97cc;
    --info-border-light-50: #69b2e8;
    --info-border-light-60: #8ecdff;
    --info-border-light-70: #cbe6ff;
    --info-border-light-80: #ffffff;
    --info-border-light-90: #ffffff;
    --info-border-light-95: #ffffff;
    --info-border-light-98: #ffffff;
    --info-border-light-99: #ffffff;
    --info-border-dark-1: #000000;
    --info-border-dark-2: #000000;
    --info-border-dark-5: #000000;
    --info-border-dark-10: #000000;
    --info-border-dark-20: #000000;
    --info-border-dark-30: #001e30;
    --info-border-dark-40: #00344f;
    --info-border-dark-50: #004b71;
    --info-border-dark-60: #006494;
    --info-border-dark-70: #2b7db0;
    --info-border-dark-80: #4c97cc;
    --info-border-dark-90: #69b2e8;
    --info-border-dark-95: #77c0f7;
    --info-border-dark-98: #80c8ff;
    --info-border-dark-99: #87cbff;
    --success-border-light-1: #003b21;
    --success-border-light-2: #003e23;
    --success-border-light-5: #004528;
    --success-border-light-10: #005230;
    --success-border-light-20: #006d42;
    --success-border-light-30: #278758;
    --success-border-light-40: #46a270;
    --success-border-light-50: #62bd89;
    --success-border-light-60: #7dd9a3;
    --success-border-light-70: #99f6bd;
    --success-border-light-80: #ffffff;
    --success-border-light-90: #ffffff;
    --success-border-light-95: #ffffff;
    --success-border-light-98: #ffffff;
    --success-border-light-99: #ffffff;
    --success-border-dark-1: #000000;
    --success-border-dark-2: #000000;
    --success-border-dark-5: #000000;
    --success-border-dark-10: #000000;
    --success-border-dark-20: #000000;
    --success-border-dark-30: #002110;
    --success-border-dark-40: #003920;
    --success-border-dark-50: #005230;
    --success-border-dark-60: #006d42;
    --success-border-dark-70: #278758;
    --success-border-dark-80: #46a270;
    --success-border-dark-90: #62bd89;
    --success-border-dark-95: #6fcb96;
    --success-border-dark-98: #78d39d;
    --success-border-dark-99: #7ad6a0;
    --warning-border-light-1: #4a2c00;
    --warning-border-light-2: #4d2e00;
    --warning-border-light-5: #563400;
    --warning-border-light-10: #653e00;
    --warning-border-light-20: #83540f;
    --warning-border-light-30: #a06d28;
    --warning-border-light-40: #bd863f;
    --warning-border-light-50: #dba056;
    --warning-border-light-60: #f9bb6e;
    --warning-border-light-70: #ffddb8;
    --warning-border-light-80: #ffffff;
    --warning-border-light-90: #ffffff;
    --warning-border-light-95: #ffffff;
    --warning-border-light-98: #ffffff;
    --warning-border-light-99: #ffffff;
    --warning-border-dark-1: #000000;
    --warning-border-dark-2: #000000;
    --warning-border-dark-5: #000000;
    --warning-border-dark-10: #000000;
    --warning-border-dark-20: #000000;
    --warning-border-dark-30: #2a1700;
    --warning-border-dark-40: #472a00;
    --warning-border-dark-50: #653e00;
    --warning-border-dark-60: #83540f;
    --warning-border-dark-70: #a06d28;
    --warning-border-dark-80: #bd863f;
    --warning-border-dark-90: #dba056;
    --warning-border-dark-95: #eaad62;
    --warning-border-dark-98: #f3b569;
    --warning-border-dark-99: #f6b86c;
    --danger-border-light-1: #650e2c;
    --danger-border-light-2: #68102e;
    --danger-border-light-5: #711835;
    --danger-border-light-10: #802440;
    --danger-border-light-20: #9f3c57;
    --danger-border-light-30: #be546f;
    --danger-border-light-40: #dd6d88;
    --danger-border-light-50: #fd87a2;
    --danger-border-light-60: #ffb1c1;
    --danger-border-light-70: #ffd9df;
    --danger-border-light-80: #ffffff;
    --danger-border-light-90: #ffffff;
    --danger-border-light-95: #ffffff;
    --danger-border-light-98: #ffffff;
    --danger-border-light-99: #ffffff;
    --danger-border-dark-1: #000000;
    --danger-border-dark-2: #000000;
    --danger-border-dark-5: #000000;
    --danger-border-dark-10: #000000;
    --danger-border-dark-20: #000000;
    --danger-border-dark-30: #3f0017;
    --danger-border-dark-40: #620b2a;
    --danger-border-dark-50: #802440;
    --danger-border-dark-60: #9f3c57;
    --danger-border-dark-70: #be546f;
    --danger-border-dark-80: #dd6d88;
    --danger-border-dark-90: #fd87a2;
    --danger-border-dark-95: #ff9cb1;
    --danger-border-dark-98: #ffa9ba;
    --danger-border-dark-99: #ffadbe;
    --primary-on-1: #ffffff;
    --primary-on-2: #ffffff;
    --primary-on-5: #ffffff;
    --primary-on-10: #ffffff;
    --primary-on-20: #ffffff;
    --primary-on-30: #ffffff;
    --primary-on-40: #ffffff;
    --primary-on-50: #00040d;
    --primary-on-60: #002a53;
    --primary-on-70: #00407a;
    --primary-on-80: #00539a;
    --primary-on-90: #1164b4;
    --primary-on-95: #246ebf;
    --primary-on-98: #2c73c4;
    --primary-on-99: #2f76c7;
    --secondary-on-1: #ffffff;
    --secondary-on-2: #ffffff;
    --secondary-on-5: #ffffff;
    --secondary-on-10: #ffffff;
    --secondary-on-20: #ffffff;
    --secondary-on-30: #ffffff;
    --secondary-on-40: #ffffff;
    --secondary-on-50: #070300;
    --secondary-on-60: #3a2600;
    --secondary-on-70: #563b00;
    --secondary-on-80: #6e4c00;
    --secondary-on-90: #845c00;
    --secondary-on-95: #8f650d;
    --secondary-on-98: #956a13;
    --secondary-on-99: #976d16;
    --tertiary-on-1: #ffffff;
    --tertiary-on-2: #ffffff;
    --tertiary-on-5: #ffffff;
    --tertiary-on-10: #ffffff;
    --tertiary-on-20: #ffffff;
    --tertiary-on-30: #ffffff;
    --tertiary-on-40: #ffffff;
    --tertiary-on-50: #02001f;
    --tertiary-on-60: #231679;
    --tertiary-on-70: #3a3190;
    --tertiary-on-80: #4d45a3;
    --tertiary-on-90: #5e57b6;
    --tertiary-on-95: #6861c0;
    --tertiary-on-98: #6d66c6;
    --tertiary-on-99: #6f68c9;
    --neutral-on-1: #ffffff;
    --neutral-on-2: #ffffff;
    --neutral-on-5: #ffffff;
    --neutral-on-10: #ffffff;
    --neutral-on-20: #ffffff;
    --neutral-on-30: #ffffff;
    --neutral-on-40: #ffffff;
    --neutral-on-50: #01040a;
    --neutral-on-60: #252a33;
    --neutral-on-70: #3b404a;
    --neutral-on-80: #4d535d;
    --neutral-on-90: #5e636e;
    --neutral-on-95: #686d78;
    --neutral-on-98: #6d727d;
    --neutral-on-99: #707580;
    --neutral-variant-on-1: #ffffff;
    --neutral-variant-on-2: #ffffff;
    --neutral-variant-on-5: #ffffff;
    --neutral-variant-on-10: #ffffff;
    --neutral-variant-on-20: #ffffff;
    --neutral-variant-on-30: #ffffff;
    --neutral-variant-on-40: #ffffff;
    --neutral-variant-on-50: #04030a;
    --neutral-variant-on-60: #2a2934;
    --neutral-variant-on-70: #403e4a;
    --neutral-variant-on-80: #53515d;
    --neutral-variant-on-90: #64626e;
    --neutral-variant-on-95: #6e6b78;
    --neutral-variant-on-98: #73707d;
    --neutral-variant-on-99: #767380;
    --info-on-1: #ffffff;
    --info-on-2: #ffffff;
    --info-on-5: #ffffff;
    --info-on-10: #ffffff;
    --info-on-20: #ffffff;
    --info-on-30: #ffffff;
    --info-on-40: #ffffff;
    --info-on-50: #00040a;
    --info-on-60: #002d46;
    --info-on-70: #004466;
    --info-on-80: #005782;
    --info-on-90: #00699b;
    --info-on-95: #1b73a6;
    --info-on-98: #2478ab;
    --info-on-99: #277bae;
    --success-on-1: #ffffff;
    --success-on-2: #ffffff;
    --success-on-5: #ffffff;
    --success-on-10: #ffffff;
    --success-on-20: #ffffff;
    --success-on-30: #ffffff;
    --success-on-40: #ffffff;
    --success-on-50: #000502;
    --success-on-60: #00311b;
    --success-on-70: #004a2b;
    --success-on-80: #005f39;
    --success-on-90: #007245;
    --success-on-95: #187c4e;
    --success-on-98: #208253;
    --success-on-99: #238455;
    --warning-on-1: #ffffff;
    --warning-on-2: #ffffff;
    --warning-on-5: #ffffff;
    --warning-on-10: #ffffff;
    --warning-on-20: #ffffff;
    --warning-on-30: #ffffff;
    --warning-on-40: #ffffff;
    --warning-on-50: #080300;
    --warning-on-60: #3e2400;
    --warning-on-70: #5c3800;
    --warning-on-80: #754902;
    --warning-on-90: #895915;
    --warning-on-95: #94631e;
    --warning-on-98: #9a6823;
    --warning-on-99: #9d6a25;
    --danger-on-1: #ffffff;
    --danger-on-2: #ffffff;
    --danger-on-5: #ffffff;
    --danger-on-10: #ffffff;
    --danger-on-20: #ffffff;
    --danger-on-30: #ffffff;
    --danger-on-40: #ffffff;
    --danger-on-50: #0f0003;
    --danger-on-60: #590324;
    --danger-on-70: #771d39;
    --danger-on-80: #8f304b;
    --danger-on-90: #a5415c;
    --danger-on-95: #b14a65;
    --danger-on-98: #b74f6a;
    --danger-on-99: #ba526d;
}
