:root {
    --primary-1: #00040e;
    --primary-2: #000718;
    --primary-5: #001129;
    --primary-10: #001b3c;
    --primary-20: #003061;
    --primary-30: #004689;
    --primary-40: #005eb4;
    --primary-50: #1d77d9;
    --primary-60: #4491f5;
    --primary-70: #76acff;
    --primary-80: #a8c8ff;
    --primary-90: #d5e3ff;
    --primary-95: #ecf1ff;
    --primary-98: #f9f9ff;
    --primary-99: #fdfbff;
    --secondary-1: #000504;
    --secondary-2: #000909;
    --secondary-5: #001414;
    --secondary-10: #00201f;
    --secondary-20: #003736;
    --secondary-30: #00504e;
    --secondary-40: #006a68;
    --secondary-50: #008583;
    --secondary-60: #00a19e;
    --secondary-70: #00bfbb;
    --secondary-80: #10ddd9;
    --secondary-90: #4dfaf5;
    --secondary-95: #affffc;
    --secondary-98: #e3fffd;
    --secondary-99: #f2fffd;
    --tertiary-1: #03001e;
    --tertiary-2: #06002c;
    --tertiary-5: #0e0047;
    --tertiary-10: #170065;
    --tertiary-20: #2a029d;
    --tertiary-30: #422cb3;
    --tertiary-40: #5a49cb;
    --tertiary-50: #7463e6;
    --tertiary-60: #8e7fff;
    --tertiary-70: #aaa0ff;
    --tertiary-80: #c7bfff;
    --tertiary-90: #e4dfff;
    --tertiary-95: #f3eeff;
    --tertiary-98: #fcf8ff;
    --tertiary-99: #fffbff;
    --neutral-1: #020408;
    --neutral-2: #05070e;
    --neutral-5: #0e1118;
    --neutral-10: #191b23;
    --neutral-20: #2e3038;
    --neutral-30: #44464f;
    --neutral-40: #5c5e67;
    --neutral-50: #757780;
    --neutral-60: #8f909a;
    --neutral-70: #a9abb4;
    --neutral-80: #c5c6d0;
    --neutral-90: #e1e2ec;
    --neutral-95: #eff0fb;
    --neutral-98: #faf8ff;
    --neutral-99: #fefbff;
    --neutral-variant-1: #000505;
    --neutral-variant-2: #010909;
    --neutral-variant-5: #071313;
    --neutral-variant-10: #111e1e;
    --neutral-variant-20: #263333;
    --neutral-variant-30: #3c4949;
    --neutral-variant-40: #546161;
    --neutral-variant-50: #6c7a7a;
    --neutral-variant-60: #869393;
    --neutral-variant-70: #a0aeae;
    --neutral-variant-80: #bbc9c9;
    --neutral-variant-90: #d7e5e5;
    --neutral-variant-95: #e5f4f3;
    --neutral-variant-98: #eefcfc;
    --neutral-variant-99: #f1fffe;
    --info-1: #000310;
    --info-2: #00071a;
    --info-5: #00102d;
    --info-10: #001a41;
    --info-20: #002e69;
    --info-30: #004494;
    --info-40: #005ac1;
    --info-50: #2b74e2;
    --info-60: #4d8efe;
    --info-70: #80aaff;
    --info-80: #adc6ff;
    --info-90: #d8e2ff;
    --info-95: #edf0ff;
    --info-98: #f9f9ff;
    --info-99: #fefbff;
    --success-1: #000500;
    --success-2: #000a00;
    --success-5: #001500;
    --success-10: #012200;
    --success-20: #013a00;
    --success-30: #035300;
    --success-40: #106e07;
    --success-50: #318824;
    --success-60: #4ca33c;
    --success-70: #67bf54;
    --success-80: #81db6c;
    --success-90: #9cf985;
    --success-95: #cbffb8;
    --success-98: #edffe1;
    --success-99: #f7ffee;
    --warning-1: #070300;
    --warning-2: #0e0600;
    --warning-5: #1a0f00;
    --warning-10: #281800;
    --warning-20: #442c00;
    --warning-30: #614000;
    --warning-40: #805600;
    --warning-50: #a06d00;
    --warning-60: #c1850e;
    --warning-70: #df9f2d;
    --warning-80: #feba47;
    --warning-90: #ffddaf;
    --warning-95: #ffeedb;
    --warning-98: #fff8f3;
    --warning-99: #fffbff;
    --danger-1: #100000;
    --danger-2: #1a0000;
    --danger-5: #2d0001;
    --danger-10: #410002;
    --danger-20: #680306;
    --danger-30: #881e19;
    --danger-40: #a9362e;
    --danger-50: #ca4e43;
    --danger-60: #ec675a;
    --danger-70: #ff897d;
    --danger-80: #ffb4ab;
    --danger-90: #ffdad5;
    --danger-95: #ffedea;
    --danger-98: #fff8f7;
    --danger-99: #fffbff;
    --primary-border-light-1: #003265;
    --primary-border-light-2: #003469;
    --primary-border-light-5: #003b75;
    --primary-border-light-10: #004689;
    --primary-border-light-20: #005eb4;
    --primary-border-light-30: #1d77d9;
    --primary-border-light-40: #4491f5;
    --primary-border-light-50: #76acff;
    --primary-border-light-60: #a8c8ff;
    --primary-border-light-70: #d5e3ff;
    --primary-border-light-80: #ffffff;
    --primary-border-light-90: #ffffff;
    --primary-border-light-95: #ffffff;
    --primary-border-light-98: #ffffff;
    --primary-border-light-99: #ffffff;
    --primary-border-dark-1: #000000;
    --primary-border-dark-2: #000000;
    --primary-border-dark-5: #000000;
    --primary-border-dark-10: #000000;
    --primary-border-dark-20: #000000;
    --primary-border-dark-30: #001b3c;
    --primary-border-dark-40: #003061;
    --primary-border-dark-50: #004689;
    --primary-border-dark-60: #005eb4;
    --primary-border-dark-70: #1d77d9;
    --primary-border-dark-80: #4491f5;
    --primary-border-dark-90: #76acff;
    --primary-border-dark-95: #90baff;
    --primary-border-dark-98: #9ec2ff;
    --primary-border-dark-99: #a3c5ff;
    --secondary-border-light-1: #003938;
    --secondary-border-light-2: #003c3a;
    --secondary-border-light-5: #004342;
    --secondary-border-light-10: #00504e;
    --secondary-border-light-20: #006a68;
    --secondary-border-light-30: #008583;
    --secondary-border-light-40: #00a19e;
    --secondary-border-light-50: #00bfbb;
    --secondary-border-light-60: #10ddd9;
    --secondary-border-light-70: #4dfaf5;
    --secondary-border-light-80: #ffffff;
    --secondary-border-light-90: #ffffff;
    --secondary-border-light-95: #ffffff;
    --secondary-border-light-98: #ffffff;
    --secondary-border-light-99: #ffffff;
    --secondary-border-dark-1: #000000;
    --secondary-border-dark-2: #000000;
    --secondary-border-dark-5: #000000;
    --secondary-border-dark-10: #000000;
    --secondary-border-dark-20: #000000;
    --secondary-border-dark-30: #00201f;
    --secondary-border-dark-40: #003736;
    --secondary-border-dark-50: #00504e;
    --secondary-border-dark-60: #006a68;
    --secondary-border-dark-70: #008583;
    --secondary-border-dark-80: #00a19e;
    --secondary-border-dark-90: #00bfbb;
    --secondary-border-dark-95: #00ceca;
    --secondary-border-dark-98: #00d7d3;
    --secondary-border-dark-99: #00dad6;
    --tertiary-border-light-1: #2d089f;
    --tertiary-border-light-2: #2f0ea1;
    --tertiary-border-light-5: #361ca7;
    --tertiary-border-light-10: #422cb3;
    --tertiary-border-light-20: #5a49cb;
    --tertiary-border-light-30: #7463e6;
    --tertiary-border-light-40: #8e7fff;
    --tertiary-border-light-50: #aaa0ff;
    --tertiary-border-light-60: #c7bfff;
    --tertiary-border-light-70: #e4dfff;
    --tertiary-border-light-80: #ffffff;
    --tertiary-border-light-90: #ffffff;
    --tertiary-border-light-95: #ffffff;
    --tertiary-border-light-98: #ffffff;
    --tertiary-border-light-99: #ffffff;
    --tertiary-border-dark-1: #000000;
    --tertiary-border-dark-2: #000000;
    --tertiary-border-dark-5: #000000;
    --tertiary-border-dark-10: #000000;
    --tertiary-border-dark-20: #000000;
    --tertiary-border-dark-30: #170065;
    --tertiary-border-dark-40: #2a029d;
    --tertiary-border-dark-50: #422cb3;
    --tertiary-border-dark-60: #5a49cb;
    --tertiary-border-dark-70: #7463e6;
    --tertiary-border-dark-80: #8e7fff;
    --tertiary-border-dark-90: #aaa0ff;
    --tertiary-border-dark-95: #b8afff;
    --tertiary-border-dark-98: #c1b9ff;
    --tertiary-border-dark-99: #c4bcff;
    --neutral-border-light-1: #30323a;
    --neutral-border-light-2: #32353c;
    --neutral-border-light-5: #393b43;
    --neutral-border-light-10: #44464f;
    --neutral-border-light-20: #5c5e67;
    --neutral-border-light-30: #757780;
    --neutral-border-light-40: #8f909a;
    --neutral-border-light-50: #a9abb4;
    --neutral-border-light-60: #c5c6d0;
    --neutral-border-light-70: #e1e2ec;
    --neutral-border-light-80: #ffffff;
    --neutral-border-light-90: #ffffff;
    --neutral-border-light-95: #ffffff;
    --neutral-border-light-98: #ffffff;
    --neutral-border-light-99: #ffffff;
    --neutral-border-dark-1: #000000;
    --neutral-border-dark-2: #000000;
    --neutral-border-dark-5: #000000;
    --neutral-border-dark-10: #000000;
    --neutral-border-dark-20: #000000;
    --neutral-border-dark-30: #191b23;
    --neutral-border-dark-40: #2e3038;
    --neutral-border-dark-50: #44464f;
    --neutral-border-dark-60: #5c5e67;
    --neutral-border-dark-70: #757780;
    --neutral-border-dark-80: #8f909a;
    --neutral-border-dark-90: #a9abb4;
    --neutral-border-dark-95: #b7b8c2;
    --neutral-border-dark-98: #bfc0ca;
    --neutral-border-dark-99: #c2c3cd;
    --neutral-variant-border-light-1: #283535;
    --neutral-variant-border-light-2: #2a3737;
    --neutral-variant-border-light-5: #313e3e;
    --neutral-variant-border-light-10: #3c4949;
    --neutral-variant-border-light-20: #546161;
    --neutral-variant-border-light-30: #6c7a7a;
    --neutral-variant-border-light-40: #869393;
    --neutral-variant-border-light-50: #a0aeae;
    --neutral-variant-border-light-60: #bbc9c9;
    --neutral-variant-border-light-70: #d7e5e5;
    --neutral-variant-border-light-80: #ffffff;
    --neutral-variant-border-light-90: #ffffff;
    --neutral-variant-border-light-95: #ffffff;
    --neutral-variant-border-light-98: #ffffff;
    --neutral-variant-border-light-99: #ffffff;
    --neutral-variant-border-dark-1: #000000;
    --neutral-variant-border-dark-2: #000000;
    --neutral-variant-border-dark-5: #000000;
    --neutral-variant-border-dark-10: #000000;
    --neutral-variant-border-dark-20: #000000;
    --neutral-variant-border-dark-30: #111e1e;
    --neutral-variant-border-dark-40: #263333;
    --neutral-variant-border-dark-50: #3c4949;
    --neutral-variant-border-dark-60: #546161;
    --neutral-variant-border-dark-70: #6c7a7a;
    --neutral-variant-border-dark-80: #869393;
    --neutral-variant-border-dark-90: #a0aeae;
    --neutral-variant-border-dark-95: #adbbbb;
    --neutral-variant-border-dark-98: #b6c4c3;
    --neutral-variant-border-dark-99: #b8c6c6;
    --info-border-light-1: #00306d;
    --info-border-light-2: #003271;
    --info-border-light-5: #00397e;
    --info-border-light-10: #004494;
    --info-border-light-20: #005ac1;
    --info-border-light-30: #2b74e2;
    --info-border-light-40: #4d8efe;
    --info-border-light-50: #80aaff;
    --info-border-light-60: #adc6ff;
    --info-border-light-70: #d8e2ff;
    --info-border-light-80: #ffffff;
    --info-border-light-90: #ffffff;
    --info-border-light-95: #ffffff;
    --info-border-light-98: #ffffff;
    --info-border-light-99: #ffffff;
    --info-border-dark-1: #000000;
    --info-border-dark-2: #000000;
    --info-border-dark-5: #000000;
    --info-border-dark-10: #000000;
    --info-border-dark-20: #000000;
    --info-border-dark-30: #001a41;
    --info-border-dark-40: #002e69;
    --info-border-dark-50: #004494;
    --info-border-dark-60: #005ac1;
    --info-border-dark-70: #2b74e2;
    --info-border-dark-80: #4d8efe;
    --info-border-dark-90: #80aaff;
    --info-border-dark-95: #97b8ff;
    --info-border-dark-98: #a4c1ff;
    --info-border-dark-99: #a9c4ff;
    --success-border-light-1: #013c00;
    --success-border-light-2: #023f00;
    --success-border-light-5: #024600;
    --success-border-light-10: #035300;
    --success-border-light-20: #106e07;
    --success-border-light-30: #318824;
    --success-border-light-40: #4ca33c;
    --success-border-light-50: #67bf54;
    --success-border-light-60: #81db6c;
    --success-border-light-70: #9cf985;
    --success-border-light-80: #ffffff;
    --success-border-light-90: #ffffff;
    --success-border-light-95: #ffffff;
    --success-border-light-98: #ffffff;
    --success-border-light-99: #ffffff;
    --success-border-dark-1: #000000;
    --success-border-dark-2: #000000;
    --success-border-dark-5: #000000;
    --success-border-dark-10: #000000;
    --success-border-dark-20: #000000;
    --success-border-dark-30: #012200;
    --success-border-dark-40: #013a00;
    --success-border-dark-50: #035300;
    --success-border-dark-60: #106e07;
    --success-border-dark-70: #318824;
    --success-border-dark-80: #4ca33c;
    --success-border-dark-90: #67bf54;
    --success-border-dark-95: #74cd60;
    --success-border-dark-98: #7cd667;
    --success-border-dark-99: #7fd96a;
    --warning-border-light-1: #462e00;
    --warning-border-light-2: #493000;
    --warning-border-light-5: #523600;
    --warning-border-light-10: #614000;
    --warning-border-light-20: #805600;
    --warning-border-light-30: #a06d00;
    --warning-border-light-40: #c1850e;
    --warning-border-light-50: #df9f2d;
    --warning-border-light-60: #feba47;
    --warning-border-light-70: #ffddaf;
    --warning-border-light-80: #ffffff;
    --warning-border-light-90: #ffffff;
    --warning-border-light-95: #ffffff;
    --warning-border-light-98: #ffffff;
    --warning-border-light-99: #ffffff;
    --warning-border-dark-1: #000000;
    --warning-border-dark-2: #000000;
    --warning-border-dark-5: #000000;
    --warning-border-dark-10: #000000;
    --warning-border-dark-20: #000000;
    --warning-border-dark-30: #281800;
    --warning-border-dark-40: #442c00;
    --warning-border-dark-50: #614000;
    --warning-border-dark-60: #805600;
    --warning-border-dark-70: #a06d00;
    --warning-border-dark-80: #c1850e;
    --warning-border-dark-90: #df9f2d;
    --warning-border-dark-95: #efac3a;
    --warning-border-dark-98: #f8b542;
    --warning-border-dark-99: #fbb745;
    --danger-border-light-1: #6b0507;
    --danger-border-light-2: #6e0809;
    --danger-border-light-5: #78110f;
    --danger-border-light-10: #881e19;
    --danger-border-light-20: #a9362e;
    --danger-border-light-30: #ca4e43;
    --danger-border-light-40: #ec675a;
    --danger-border-light-50: #ff897d;
    --danger-border-light-60: #ffb4ab;
    --danger-border-light-70: #ffdad5;
    --danger-border-light-80: #ffffff;
    --danger-border-light-90: #ffffff;
    --danger-border-light-95: #ffffff;
    --danger-border-light-98: #ffffff;
    --danger-border-light-99: #ffffff;
    --danger-border-dark-1: #000000;
    --danger-border-dark-2: #000000;
    --danger-border-dark-5: #000000;
    --danger-border-dark-10: #000000;
    --danger-border-dark-20: #000000;
    --danger-border-dark-30: #410002;
    --danger-border-dark-40: #680306;
    --danger-border-dark-50: #881e19;
    --danger-border-dark-60: #a9362e;
    --danger-border-dark-70: #ca4e43;
    --danger-border-dark-80: #ec675a;
    --danger-border-dark-90: #ff897d;
    --danger-border-dark-95: #ff9f94;
    --danger-border-dark-98: #ffaca2;
    --danger-border-dark-99: #ffb0a6;
    --primary-on-1: #ffffff;
    --primary-on-2: #ffffff;
    --primary-on-5: #ffffff;
    --primary-on-10: #ffffff;
    --primary-on-20: #ffffff;
    --primary-on-30: #ffffff;
    --primary-on-40: #ffffff;
    --primary-on-50: #00040e;
    --primary-on-60: #002a56;
    --primary-on-70: #00407d;
    --primary-on-80: #00529e;
    --primary-on-90: #0063bc;
    --primary-on-95: #006cce;
    --primary-on-98: #1072d4;
    --primary-on-99: #1774d6;
    --secondary-on-1: #ffffff;
    --secondary-on-2: #ffffff;
    --secondary-on-5: #ffffff;
    --secondary-on-10: #ffffff;
    --secondary-on-20: #ffffff;
    --secondary-on-30: #ffffff;
    --secondary-on-40: #ffffff;
    --secondary-on-50: #000504;
    --secondary-on-60: #00302f;
    --secondary-on-70: #004847;
    --secondary-on-80: #005d5b;
    --secondary-on-90: #006f6d;
    --secondary-on-95: #007a78;
    --secondary-on-98: #00807d;
    --secondary-on-99: #008280;
    --tertiary-on-1: #ffffff;
    --tertiary-on-2: #ffffff;
    --tertiary-on-5: #ffffff;
    --tertiary-on-10: #ffffff;
    --tertiary-on-20: #ffffff;
    --tertiary-on-30: #ffffff;
    --tertiary-on-40: #ffffff;
    --tertiary-on-50: #03001e;
    --tertiary-on-60: #24008d;
    --tertiary-on-70: #3b23ac;
    --tertiary-on-80: #4e3bbf;
    --tertiary-on-90: #5f4ed1;
    --tertiary-on-95: #6959db;
    --tertiary-on-98: #6f5ee1;
    --tertiary-on-99: #7161e3;
    --neutral-on-1: #ffffff;
    --neutral-on-2: #ffffff;
    --neutral-on-5: #ffffff;
    --neutral-on-10: #ffffff;
    --neutral-on-20: #ffffff;
    --neutral-on-30: #ffffff;
    --neutral-on-40: #ffffff;
    --neutral-on-50: #020408;
    --neutral-on-60: #272a31;
    --neutral-on-70: #3d4048;
    --neutral-on-80: #50525b;
    --neutral-on-90: #61636c;
    --neutral-on-95: #6b6d76;
    --neutral-on-98: #70727b;
    --neutral-on-99: #72747d;
    --neutral-variant-on-1: #ffffff;
    --neutral-variant-on-2: #ffffff;
    --neutral-variant-on-5: #ffffff;
    --neutral-variant-on-10: #ffffff;
    --neutral-variant-on-20: #ffffff;
    --neutral-variant-on-30: #ffffff;
    --neutral-variant-on-40: #ffffff;
    --neutral-variant-on-50: #000505;
    --neutral-variant-on-60: #202c2c;
    --neutral-variant-on-70: #354242;
    --neutral-variant-on-80: #485555;
    --neutral-variant-on-90: #586666;
    --neutral-variant-on-95: #627070;
    --neutral-variant-on-98: #677574;
    --neutral-variant-on-99: #6a7777;
    --info-on-1: #ffffff;
    --info-on-2: #ffffff;
    --info-on-5: #ffffff;
    --info-on-10: #ffffff;
    --info-on-20: #ffffff;
    --info-on-30: #ffffff;
    --info-on-40: #ffffff;
    --info-on-50: #000310;
    --info-on-60: #00285d;
    --info-on-70: #003d87;
    --info-on-80: #004faa;
    --info-on-90: #005fcb;
    --info-on-95: #1869d7;
    --info-on-98: #226fdc;
    --info-on-99: #2771df;
    --success-on-1: #ffffff;
    --success-on-2: #ffffff;
    --success-on-5: #ffffff;
    --success-on-10: #ffffff;
    --success-on-20: #ffffff;
    --success-on-30: #ffffff;
    --success-on-40: #ffffff;
    --success-on-50: #000500;
    --success-on-60: #013200;
    --success-on-70: #024b00;
    --success-on-80: #036100;
    --success-on-90: #18730e;
    --success-on-95: #257e1a;
    --success-on-98: #2b831f;
    --success-on-99: #2e8521;
    --warning-on-1: #ffffff;
    --warning-on-2: #ffffff;
    --warning-on-5: #ffffff;
    --warning-on-10: #ffffff;
    --warning-on-20: #ffffff;
    --warning-on-30: #ffffff;
    --warning-on-40: #ffffff;
    --warning-on-50: #070300;
    --warning-on-60: #3b2600;
    --warning-on-70: #583a00;
    --warning-on-80: #704b00;
    --warning-on-90: #865b00;
    --warning-on-95: #936400;
    --warning-on-98: #9a6800;
    --warning-on-99: #9d6b00;
    --danger-on-1: #ffffff;
    --danger-on-2: #ffffff;
    --danger-on-5: #ffffff;
    --danger-on-10: #ffffff;
    --danger-on-20: #ffffff;
    --danger-on-30: #ffffff;
    --danger-on-40: #ffffff;
    --danger-on-50: #100000;
    --danger-on-60: #5c0003;
    --danger-on-70: #7e1613;
    --danger-on-80: #992a23;
    --danger-on-90: #b03b32;
    --danger-on-95: #bd443a;
    --danger-on-98: #c3493f;
    --danger-on-99: #c74c41;
}
