:root {
    --primary-1: #00040e;
    --primary-2: #000717;
    --primary-5: #001129;
    --primary-10: #001b3c;
    --primary-20: #003061;
    --primary-30: #004689;
    --primary-40: #005eb3;
    --primary-50: #1d77d9;
    --primary-60: #4491f5;
    --primary-70: #76acff;
    --primary-80: #a8c8ff;
    --primary-90: #d5e3ff;
    --primary-95: #ecf1ff;
    --primary-98: #f9f9ff;
    --primary-99: #fdfbff;
    --secondary-1: #000504;
    --secondary-2: #000909;
    --secondary-5: #001414;
    --secondary-10: #00201f;
    --secondary-20: #003736;
    --secondary-30: #00504e;
    --secondary-40: #006a68;
    --secondary-50: #008583;
    --secondary-60: #359f9d;
    --secondary-70: #55bbb8;
    --secondary-80: #73d6d4;
    --secondary-90: #90f3f0;
    --secondary-95: #affffc;
    --secondary-98: #e3fffd;
    --secondary-99: #f2fffe;
    --tertiary-1: #03001e;
    --tertiary-2: #06002c;
    --tertiary-5: #0e0047;
    --tertiary-10: #180065;
    --tertiary-20: #2b019d;
    --tertiary-30: #432cb3;
    --tertiary-40: #5b48cb;
    --tertiary-50: #7463e6;
    --tertiary-60: #8e7fff;
    --tertiary-70: #ab9fff;
    --tertiary-80: #c7bfff;
    --tertiary-90: #e5deff;
    --tertiary-95: #f3eeff;
    --tertiary-98: #fcf8ff;
    --tertiary-99: #fffbff;
    --neutral-1: #020408;
    --neutral-2: #05070e;
    --neutral-5: #0e1118;
    --neutral-10: #191b23;
    --neutral-20: #2e3038;
    --neutral-30: #44474f;
    --neutral-40: #5c5e67;
    --neutral-50: #757780;
    --neutral-60: #8e909a;
    --neutral-70: #a9abb4;
    --neutral-80: #c5c6d0;
    --neutral-90: #e1e2ec;
    --neutral-95: #eff0fa;
    --neutral-98: #faf9ff;
    --neutral-99: #fefbff;
    --neutral-variant-1: #000505;
    --neutral-variant-2: #010909;
    --neutral-variant-5: #061313;
    --neutral-variant-10: #111e1e;
    --neutral-variant-20: #263333;
    --neutral-variant-30: #3c4949;
    --neutral-variant-40: #536161;
    --neutral-variant-50: #6c7a7a;
    --neutral-variant-60: #859393;
    --neutral-variant-70: #a0aeae;
    --neutral-variant-80: #bbc9c9;
    --neutral-variant-90: #d7e5e5;
    --neutral-variant-95: #e5f4f3;
    --neutral-variant-98: #eefcfc;
    --neutral-variant-99: #f1ffff;
    --info-1: #00040e;
    --info-2: #000717;
    --info-5: #001129;
    --info-10: #001b3c;
    --info-20: #003061;
    --info-30: #004689;
    --info-40: #005eb3;
    --info-50: #1d77d9;
    --info-60: #4491f5;
    --info-70: #76acff;
    --info-80: #a8c8ff;
    --info-90: #d5e3ff;
    --info-95: #ecf1ff;
    --info-98: #f9f9ff;
    --info-99: #fdfbff;
    --success-1: #000500;
    --success-2: #000a00;
    --success-5: #001500;
    --success-10: #002200;
    --success-20: #013a00;
    --success-30: #025300;
    --success-40: #196d10;
    --success-50: #36872a;
    --success-60: #51a241;
    --success-70: #6bbe59;
    --success-80: #86db71;
    --success-90: #a1f88b;
    --success-95: #cbffb8;
    --success-98: #edffe1;
    --success-99: #f7ffee;
    --warning-1: #060300;
    --warning-2: #0b0700;
    --warning-5: #171000;
    --warning-10: #241a00;
    --warning-20: #3d2f00;
    --warning-30: #584400;
    --warning-40: #735c0e;
    --warning-50: #8e7427;
    --warning-60: #a98e3e;
    --warning-70: #c6a856;
    --warning-80: #e3c36e;
    --warning-90: #ffe08d;
    --warning-95: #ffefcd;
    --warning-98: #fff8f1;
    --warning-99: #fffbff;
    --danger-1: #100000;
    --danger-2: #1a0000;
    --danger-5: #2d0001;
    --danger-10: #410002;
    --danger-20: #660608;
    --danger-30: #87201b;
    --danger-40: #a73830;
    --danger-50: #c85046;
    --danger-60: #e9695d;
    --danger-70: #ff897d;
    --danger-80: #ffb4ab;
    --danger-90: #ffdad6;
    --danger-95: #ffedea;
    --danger-98: #fff8f7;
    --danger-99: #fffbff;
    --primary-border-light-1: #003265;
    --primary-border-light-2: #003469;
    --primary-border-light-5: #003b75;
    --primary-border-light-10: #004689;
    --primary-border-light-20: #005eb3;
    --primary-border-light-30: #1d77d9;
    --primary-border-light-40: #4491f5;
    --primary-border-light-50: #76acff;
    --primary-border-light-60: #a8c8ff;
    --primary-border-light-70: #d5e3ff;
    --primary-border-light-80: #ffffff;
    --primary-border-light-90: #ffffff;
    --primary-border-light-95: #ffffff;
    --primary-border-light-98: #ffffff;
    --primary-border-light-99: #ffffff;
    --primary-border-dark-1: #000000;
    --primary-border-dark-2: #000000;
    --primary-border-dark-5: #000000;
    --primary-border-dark-10: #000000;
    --primary-border-dark-20: #000000;
    --primary-border-dark-30: #001b3c;
    --primary-border-dark-40: #003061;
    --primary-border-dark-50: #004689;
    --primary-border-dark-60: #005eb3;
    --primary-border-dark-70: #1d77d9;
    --primary-border-dark-80: #4491f5;
    --primary-border-dark-90: #76acff;
    --primary-border-dark-95: #8fbaff;
    --primary-border-dark-98: #9ec2ff;
    --primary-border-dark-99: #a3c5ff;
    --secondary-border-light-1: #003938;
    --secondary-border-light-2: #003c3b;
    --secondary-border-light-5: #004342;
    --secondary-border-light-10: #00504e;
    --secondary-border-light-20: #006a68;
    --secondary-border-light-30: #008583;
    --secondary-border-light-40: #359f9d;
    --secondary-border-light-50: #55bbb8;
    --secondary-border-light-60: #73d6d4;
    --secondary-border-light-70: #90f3f0;
    --secondary-border-light-80: #ffffff;
    --secondary-border-light-90: #ffffff;
    --secondary-border-light-95: #ffffff;
    --secondary-border-light-98: #ffffff;
    --secondary-border-light-99: #ffffff;
    --secondary-border-dark-1: #000000;
    --secondary-border-dark-2: #000000;
    --secondary-border-dark-5: #000000;
    --secondary-border-dark-10: #000000;
    --secondary-border-dark-20: #000000;
    --secondary-border-dark-30: #00201f;
    --secondary-border-dark-40: #003736;
    --secondary-border-dark-50: #00504e;
    --secondary-border-dark-60: #006a68;
    --secondary-border-dark-70: #008583;
    --secondary-border-dark-80: #359f9d;
    --secondary-border-dark-90: #55bbb8;
    --secondary-border-dark-95: #64c8c6;
    --secondary-border-dark-98: #6dd1ce;
    --secondary-border-dark-99: #70d4d1;
    --tertiary-border-light-1: #2d089f;
    --tertiary-border-light-2: #300ea1;
    --tertiary-border-light-5: #371ba7;
    --tertiary-border-light-10: #432cb3;
    --tertiary-border-light-20: #5b48cb;
    --tertiary-border-light-30: #7463e6;
    --tertiary-border-light-40: #8e7fff;
    --tertiary-border-light-50: #ab9fff;
    --tertiary-border-light-60: #c7bfff;
    --tertiary-border-light-70: #e5deff;
    --tertiary-border-light-80: #ffffff;
    --tertiary-border-light-90: #ffffff;
    --tertiary-border-light-95: #ffffff;
    --tertiary-border-light-98: #ffffff;
    --tertiary-border-light-99: #ffffff;
    --tertiary-border-dark-1: #000000;
    --tertiary-border-dark-2: #000000;
    --tertiary-border-dark-5: #000000;
    --tertiary-border-dark-10: #000000;
    --tertiary-border-dark-20: #000000;
    --tertiary-border-dark-30: #180065;
    --tertiary-border-dark-40: #2b019d;
    --tertiary-border-dark-50: #432cb3;
    --tertiary-border-dark-60: #5b48cb;
    --tertiary-border-dark-70: #7463e6;
    --tertiary-border-dark-80: #8e7fff;
    --tertiary-border-dark-90: #ab9fff;
    --tertiary-border-dark-95: #b9afff;
    --tertiary-border-dark-98: #c1b9ff;
    --tertiary-border-dark-99: #c4bcff;
    --neutral-border-light-1: #30323a;
    --neutral-border-light-2: #32353c;
    --neutral-border-light-5: #393b43;
    --neutral-border-light-10: #44474f;
    --neutral-border-light-20: #5c5e67;
    --neutral-border-light-30: #757780;
    --neutral-border-light-40: #8e909a;
    --neutral-border-light-50: #a9abb4;
    --neutral-border-light-60: #c5c6d0;
    --neutral-border-light-70: #e1e2ec;
    --neutral-border-light-80: #ffffff;
    --neutral-border-light-90: #ffffff;
    --neutral-border-light-95: #ffffff;
    --neutral-border-light-98: #ffffff;
    --neutral-border-light-99: #ffffff;
    --neutral-border-dark-1: #000000;
    --neutral-border-dark-2: #000000;
    --neutral-border-dark-5: #000000;
    --neutral-border-dark-10: #000000;
    --neutral-border-dark-20: #000000;
    --neutral-border-dark-30: #191b23;
    --neutral-border-dark-40: #2e3038;
    --neutral-border-dark-50: #44474f;
    --neutral-border-dark-60: #5c5e67;
    --neutral-border-dark-70: #757780;
    --neutral-border-dark-80: #8e909a;
    --neutral-border-dark-90: #a9abb4;
    --neutral-border-dark-95: #b7b8c2;
    --neutral-border-dark-98: #bfc0ca;
    --neutral-border-dark-99: #c2c3cd;
    --neutral-variant-border-light-1: #283535;
    --neutral-variant-border-light-2: #2a3737;
    --neutral-variant-border-light-5: #313e3e;
    --neutral-variant-border-light-10: #3c4949;
    --neutral-variant-border-light-20: #536161;
    --neutral-variant-border-light-30: #6c7a7a;
    --neutral-variant-border-light-40: #859393;
    --neutral-variant-border-light-50: #a0aeae;
    --neutral-variant-border-light-60: #bbc9c9;
    --neutral-variant-border-light-70: #d7e5e5;
    --neutral-variant-border-light-80: #ffffff;
    --neutral-variant-border-light-90: #ffffff;
    --neutral-variant-border-light-95: #ffffff;
    --neutral-variant-border-light-98: #ffffff;
    --neutral-variant-border-light-99: #ffffff;
    --neutral-variant-border-dark-1: #000000;
    --neutral-variant-border-dark-2: #000000;
    --neutral-variant-border-dark-5: #000000;
    --neutral-variant-border-dark-10: #000000;
    --neutral-variant-border-dark-20: #000000;
    --neutral-variant-border-dark-30: #111e1e;
    --neutral-variant-border-dark-40: #263333;
    --neutral-variant-border-dark-50: #3c4949;
    --neutral-variant-border-dark-60: #536161;
    --neutral-variant-border-dark-70: #6c7a7a;
    --neutral-variant-border-dark-80: #859393;
    --neutral-variant-border-dark-90: #a0aeae;
    --neutral-variant-border-dark-95: #adbcbb;
    --neutral-variant-border-dark-98: #b5c4c4;
    --neutral-variant-border-dark-99: #b8c7c6;
    --info-border-light-1: #003265;
    --info-border-light-2: #003469;
    --info-border-light-5: #003b75;
    --info-border-light-10: #004689;
    --info-border-light-20: #005eb3;
    --info-border-light-30: #1d77d9;
    --info-border-light-40: #4491f5;
    --info-border-light-50: #76acff;
    --info-border-light-60: #a8c8ff;
    --info-border-light-70: #d5e3ff;
    --info-border-light-80: #ffffff;
    --info-border-light-90: #ffffff;
    --info-border-light-95: #ffffff;
    --info-border-light-98: #ffffff;
    --info-border-light-99: #ffffff;
    --info-border-dark-1: #000000;
    --info-border-dark-2: #000000;
    --info-border-dark-5: #000000;
    --info-border-dark-10: #000000;
    --info-border-dark-20: #000000;
    --info-border-dark-30: #001b3c;
    --info-border-dark-40: #003061;
    --info-border-dark-50: #004689;
    --info-border-dark-60: #005eb3;
    --info-border-dark-70: #1d77d9;
    --info-border-dark-80: #4491f5;
    --info-border-dark-90: #76acff;
    --info-border-dark-95: #8fbaff;
    --info-border-dark-98: #9ec2ff;
    --info-border-dark-99: #a3c5ff;
    --success-border-light-1: #013c00;
    --success-border-light-2: #013f00;
    --success-border-light-5: #024600;
    --success-border-light-10: #025300;
    --success-border-light-20: #196d10;
    --success-border-light-30: #36872a;
    --success-border-light-40: #51a241;
    --success-border-light-50: #6bbe59;
    --success-border-light-60: #86db71;
    --success-border-light-70: #a1f88b;
    --success-border-light-80: #ffffff;
    --success-border-light-90: #ffffff;
    --success-border-light-95: #ffffff;
    --success-border-light-98: #ffffff;
    --success-border-light-99: #ffffff;
    --success-border-dark-1: #000000;
    --success-border-dark-2: #000000;
    --success-border-dark-5: #000000;
    --success-border-dark-10: #000000;
    --success-border-dark-20: #000000;
    --success-border-dark-30: #002200;
    --success-border-dark-40: #013a00;
    --success-border-dark-50: #025300;
    --success-border-dark-60: #196d10;
    --success-border-dark-70: #36872a;
    --success-border-dark-80: #51a241;
    --success-border-dark-90: #6bbe59;
    --success-border-dark-95: #78cc65;
    --success-border-dark-98: #80d56c;
    --success-border-dark-99: #83d86f;
    --warning-border-light-1: #403100;
    --warning-border-light-2: #423300;
    --warning-border-light-5: #4a3900;
    --warning-border-light-10: #584400;
    --warning-border-light-20: #735c0e;
    --warning-border-light-30: #8e7427;
    --warning-border-light-40: #a98e3e;
    --warning-border-light-50: #c6a856;
    --warning-border-light-60: #e3c36e;
    --warning-border-light-70: #ffe08d;
    --warning-border-light-80: #ffffff;
    --warning-border-light-90: #ffffff;
    --warning-border-light-95: #ffffff;
    --warning-border-light-98: #ffffff;
    --warning-border-light-99: #ffffff;
    --warning-border-dark-1: #000000;
    --warning-border-dark-2: #000000;
    --warning-border-dark-5: #000000;
    --warning-border-dark-10: #000000;
    --warning-border-dark-20: #000000;
    --warning-border-dark-30: #241a00;
    --warning-border-dark-40: #3d2f00;
    --warning-border-dark-50: #584400;
    --warning-border-dark-60: #735c0e;
    --warning-border-dark-70: #8e7427;
    --warning-border-dark-80: #a98e3e;
    --warning-border-dark-90: #c6a856;
    --warning-border-dark-95: #d4b662;
    --warning-border-dark-98: #ddbe69;
    --warning-border-dark-99: #e0c16b;
    --danger-border-light-1: #6a090a;
    --danger-border-light-2: #6d0c0c;
    --danger-border-light-5: #761412;
    --danger-border-light-10: #87201b;
    --danger-border-light-20: #a73830;
    --danger-border-light-30: #c85046;
    --danger-border-light-40: #e9695d;
    --danger-border-light-50: #ff897d;
    --danger-border-light-60: #ffb4ab;
    --danger-border-light-70: #ffdad6;
    --danger-border-light-80: #ffffff;
    --danger-border-light-90: #ffffff;
    --danger-border-light-95: #ffffff;
    --danger-border-light-98: #ffffff;
    --danger-border-light-99: #ffffff;
    --danger-border-dark-1: #000000;
    --danger-border-dark-2: #000000;
    --danger-border-dark-5: #000000;
    --danger-border-dark-10: #000000;
    --danger-border-dark-20: #000000;
    --danger-border-dark-30: #410002;
    --danger-border-dark-40: #660608;
    --danger-border-dark-50: #87201b;
    --danger-border-dark-60: #a73830;
    --danger-border-dark-70: #c85046;
    --danger-border-dark-80: #e9695d;
    --danger-border-dark-90: #ff897d;
    --danger-border-dark-95: #ff9f95;
    --danger-border-dark-98: #ffaca2;
    --danger-border-dark-99: #ffb0a6;
    --primary-on-1: #ffffff;
    --primary-on-2: #ffffff;
    --primary-on-5: #ffffff;
    --primary-on-10: #ffffff;
    --primary-on-20: #ffffff;
    --primary-on-30: #ffffff;
    --primary-on-40: #ffffff;
    --primary-on-50: #00040e;
    --primary-on-60: #002a56;
    --primary-on-70: #00407d;
    --primary-on-80: #00529e;
    --primary-on-90: #0063bc;
    --primary-on-95: #006dcd;
    --primary-on-98: #1072d3;
    --primary-on-99: #1774d6;
    --secondary-on-1: #ffffff;
    --secondary-on-2: #ffffff;
    --secondary-on-5: #ffffff;
    --secondary-on-10: #ffffff;
    --secondary-on-20: #ffffff;
    --secondary-on-30: #ffffff;
    --secondary-on-40: #ffffff;
    --secondary-on-50: #000504;
    --secondary-on-60: #00302f;
    --secondary-on-70: #004847;
    --secondary-on-80: #005d5b;
    --secondary-on-90: #006f6d;
    --secondary-on-95: #007a78;
    --secondary-on-98: #007f7e;
    --secondary-on-99: #008280;
    --tertiary-on-1: #ffffff;
    --tertiary-on-2: #ffffff;
    --tertiary-on-5: #ffffff;
    --tertiary-on-10: #ffffff;
    --tertiary-on-20: #ffffff;
    --tertiary-on-30: #ffffff;
    --tertiary-on-40: #ffffff;
    --tertiary-on-50: #03001e;
    --tertiary-on-60: #25008c;
    --tertiary-on-70: #3c23ac;
    --tertiary-on-80: #4f3bbf;
    --tertiary-on-90: #604ed1;
    --tertiary-on-95: #6a59db;
    --tertiary-on-98: #6f5ee1;
    --tertiary-on-99: #7261e3;
    --neutral-on-1: #ffffff;
    --neutral-on-2: #ffffff;
    --neutral-on-5: #ffffff;
    --neutral-on-10: #ffffff;
    --neutral-on-20: #ffffff;
    --neutral-on-30: #ffffff;
    --neutral-on-40: #ffffff;
    --neutral-on-50: #020408;
    --neutral-on-60: #272a31;
    --neutral-on-70: #3d4048;
    --neutral-on-80: #50525b;
    --neutral-on-90: #61636c;
    --neutral-on-95: #6b6d76;
    --neutral-on-98: #70727b;
    --neutral-on-99: #72747d;
    --neutral-variant-on-1: #ffffff;
    --neutral-variant-on-2: #ffffff;
    --neutral-variant-on-5: #ffffff;
    --neutral-variant-on-10: #ffffff;
    --neutral-variant-on-20: #ffffff;
    --neutral-variant-on-30: #ffffff;
    --neutral-variant-on-40: #ffffff;
    --neutral-variant-on-50: #000505;
    --neutral-variant-on-60: #1f2c2c;
    --neutral-variant-on-70: #354242;
    --neutral-variant-on-80: #475555;
    --neutral-variant-on-90: #586666;
    --neutral-variant-on-95: #627070;
    --neutral-variant-on-98: #677575;
    --neutral-variant-on-99: #697777;
    --info-on-1: #ffffff;
    --info-on-2: #ffffff;
    --info-on-5: #ffffff;
    --info-on-10: #ffffff;
    --info-on-20: #ffffff;
    --info-on-30: #ffffff;
    --info-on-40: #ffffff;
    --info-on-50: #00040e;
    --info-on-60: #002a56;
    --info-on-70: #00407d;
    --info-on-80: #00529e;
    --info-on-90: #0063bc;
    --info-on-95: #006dcd;
    --info-on-98: #1072d3;
    --info-on-99: #1774d6;
    --success-on-1: #ffffff;
    --success-on-2: #ffffff;
    --success-on-5: #ffffff;
    --success-on-10: #ffffff;
    --success-on-20: #ffffff;
    --success-on-30: #ffffff;
    --success-on-40: #ffffff;
    --success-on-50: #000500;
    --success-on-60: #013200;
    --success-on-70: #024b00;
    --success-on-80: #056101;
    --success-on-90: #207216;
    --success-on-95: #2b7d20;
    --success-on-98: #318225;
    --success-on-99: #348527;
    --warning-on-1: #ffffff;
    --warning-on-2: #ffffff;
    --warning-on-5: #ffffff;
    --warning-on-10: #ffffff;
    --warning-on-20: #ffffff;
    --warning-on-30: #ffffff;
    --warning-on-40: #ffffff;
    --warning-on-50: #060300;
    --warning-on-60: #352800;
    --warning-on-70: #503e00;
    --warning-on-80: #665000;
    --warning-on-90: #786014;
    --warning-on-95: #836a1e;
    --warning-on-98: #886f22;
    --warning-on-99: #8b7225;
    --danger-on-1: #ffffff;
    --danger-on-2: #ffffff;
    --danger-on-5: #ffffff;
    --danger-on-10: #ffffff;
    --danger-on-20: #ffffff;
    --danger-on-30: #ffffff;
    --danger-on-40: #ffffff;
    --danger-on-50: #100000;
    --danger-on-60: #5c0004;
    --danger-on-70: #7d1916;
    --danger-on-80: #972c26;
    --danger-on-90: #ae3d34;
    --danger-on-95: #bb463d;
    --danger-on-98: #c14b41;
    --danger-on-99: #c54d44;
}
